<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div class="w-[350px]">
        <div class="w-full h-[250px]">
          <img
            src="/assets/img/bg3.jpg"
            data-bind="img"
            loading="lazy"
            class="w-full h-full rounded-xl object-cover object-center"
            alt=""
          />
        </div>
        <div class="w-fit h-fit mt-6 mx-auto">
          <button
            class="py-2.5 px-10 cursor-pointer bg-transparent rounded-xl text-xl font-medium font-jost border-3 border-[#091336] text-[#091336] relative group flex items-center transition-all duration-300 hover:bg-gray-300 hover:border-[#efefef]"
          >
            <span
              data-bind="title"
              class="relative group-hover:right-2 right-0 transition-all duration-300 z-2"
              >Gedung</span
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="absolute z-1 right-10 group-hover:right-4 transition-all duration-300 opacity-0 group-hover:opacity-100"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
        </div>
      </div>
    </template>
  </body>
</html>
