<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div
        class="w-full relative mx-auto lg:px-24 px-4 mt-10 flex md:flex-row flex-col items-start justify-center"
      >
        <div class="lg:pl-28 md:px-4 pt-4 w-fit">
          <h1
            class="text-5xl font-black tracking-tight font-jost"
            data-bind="tahun"
          >
            2010
          </h1>
          <p class="font-semibold mt-4" data-bind="desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
            placeat molestias numquam libero minima assumenda officiis
            cupiditate consequatur eaque cum accusamus, dicta magni minus earum
            dolor sunt doloribus eligendi dolore!
          </p>
          <img
            src="/assets/img/sejarah/sejarah2013-2.webp"
            loading="lazy"
            data-bind="img2"
            class="size-[300px] object-cover object-top mt-10 grayscale hover:grayscale-0 transition-all duration-500 shadow-xl"
            alt=""
          />
        </div>
      </div>
    </template>
  </body>
</html>
