<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div
        class="min-h-screen bg-[url('/assets/img/bg-doodle4.jpg')] bg-cover bg-center w-full flex md:flex-row flex-col lg:gap-32 gap-10 justify-center items-center px-4 relative"
      >
        <div class="w-fit relative z-2 md:order-1 order-2 text-center">
          <h3 class="md:text-lg text-base font-bold">Page Of</h3>
          <div class="flex flex-col mt-4 mb-4 md:text-7xl text-4xl font-bold">
            <h1 class="">EKSTRAKURIKULER</h1>
            <h1>LETRIS 2</h1>
          </div>
          <h2 class="md:text-2xl text-base font-bold">
            Kegiatan ekstrakurikuler merupakan salah satu alat pengenalan siswa
            pada hubungan sosial.
          </h2>
        </div>
      </div>
    </template>
  </body>
</html>
