<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <nav class="bg-[#091336]/50 backdrop-blur-xl z-999 w-full fixed top-0">
        <div
          class="h-[60px] md:px-20 px-4 flex items-center w-full justify-between"
        >
          <div class="flex items-center gap-4 text-white">
            <img src="assets/img/logo.png" class="h-10 w-10" alt="Logo" />
          </div>

          <div class="md:flex hidden items-center gap-7 text-white font-medium">
            <a href="/" class="hover:text-gray-300">Beranda</a>
            <div class="group relative inline-block">
              <div
                class="flex items-center gap-1 cursor-pointer hover:text-gray-300"
              >
                <span>Profil</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </div>
              <div
                class="hidden group-hover:block absolute top-10 -left-5 before:content-[''] before:absolute before:-top-5 before:left-0 before:w-full before:h-5"
              >
                <div class="bg-white w-50 h-fit text-black p-5">
                  <ul class="space-y-2">
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      <a href="/sejarah.html">Sejarah Sekolah</a>
                    </li>
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      <a href="/kepala-sekolah.html"> Kepala Sekolah </a>
                    </li>
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      Visi & Misi
                    </li>
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      Fasilitas
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="group relative inline-block">
              <div
                class="flex items-center gap-1 cursor-pointer hover:text-gray-300"
              >
                <span>Akademik</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </div>
              <div
                class="hidden group-hover:block absolute top-10 -left-5 before:content-[''] before:absolute before:-top-5 before:left-0 before:w-full before:h-5"
              >
                <div class="bg-white w-50 h-fit text-black p-5">
                  <ul class="space-y-2">
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      Kurikulum
                    </li>
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      Guru
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="group relative inline-block">
              <div
                class="flex items-center gap-1 cursor-pointer hover:text-gray-300"
              >
                <span>Kesiswaan</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path d="m6 9 6 6 6-6"></path>
                </svg>
              </div>
              <div
                class="hidden group-hover:block absolute top-10 -left-5 before:content-[''] before:absolute before:-top-5 before:left-0 before:w-full before:h-5"
              >
                <div class="bg-white w-50 h-fit text-black p-5">
                  <ul class="space-y-2">
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      <a href="/osis.html">OSIS</a>
                    </li>
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      Ekstrakulikuler
                    </li>
                    <li
                      class="cursor-pointer hover:text-blue-700 transition duration-200"
                    >
                      <a href="/mpk.html">MPK</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="/#berita" id="berita-link" class="hover:text-gray-300"
              >Berita</a
            >
            <a href="/#kontak" id="kontak-link" class="hover:text-gray-300"
              >Kontak</a
            >
          </div>
        </div>
      </nav>
    </template>
    <script>
      const beritaLink = document.getElementById("berita-link");
      const kontakLink = document.getElementById("kontak-link");
      console.log({ beritaLink, kontakLink });
    </script>
  </body>
</html>
