<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div
        class="min-h-screen bg-[url('/assets/img/bg-doodle2.jpg')] bg-cover bg-center w-full flex md:flex-row flex-col lg:gap-32 gap-10 justify-center items-center px-4 relative"
      >
        <div
          class="w-fit relative z-2 md:order-1 order-2 md:text-left text-center"
        >
          <h3 class="md:text-lg text-base font-bold">Official Page Of</h3>
          <div class="flex flex-col mt-4 mb-4 md:text-7xl text-4xl font-bold">
            <h1>MPK LETRIS</h1>
            <h1>INDONESIA 2</h1>
          </div>
          <h2 class="md:text-2xl text-base font-bold">
            Majelis Permusyawaratan/Perwakilan Kelas
          </h2>
        </div>
        <div class="md:order-2 order-1 relative z-2">
          <img
            src="/assets/img/mpk.webp"
            class="lg:w-[300px] md:w-[200px] w-[200px]"
            alt=""
          />
        </div>
      </div>
    </template>
  </body>
</html>
