<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template>
            <div
                class="bg-[#333333] flex flex-col p-4 items-center justify-center w-72 h-100 rounded-2xl"
            >
                <h1 class="text-white text-3xl font-bold mb-3" data-bind="no">
                    1.
                </h1>
                <div data-bind="icon"></div>
                <p
                    data-bind="desc"
                    class="text-base font-bold text-center text-white mt-4"
                ></p>
            </div>
        </template>
    </body>
</html>
