<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template>
            <footer
                class="bg-[url('/assets/img/bg3.jpg')] min-h-screen bg-cover relative flex flex-col items-center"
                id="kontak"
            >
                <div class="absolute w-full h-full z-1 bg-black/40"></div>
                <div class="flex gap-16 px-4 w-full lg:w-fit">
                    <div
                        class="bg-white p-8 mt-15 rounded-[32px] lg:w-[500px] w-full h-[500px] relative z-2"
                    >
                        <h1 class="md:text-4xl text-2xl font-bold">
                            Hubungi Kami
                        </h1>
                        <div class="flex flex-col mt-8 gap-4">
                            <input
                                type="text"
                                placeholder="N A M A"
                                class="w-full bg-[#f6f6f6] px-4 placeholder:text-black placeholder:font-semibold py-3 rounded-xl outline-none"
                            />
                            <input
                                type="text"
                                placeholder="E M A I L"
                                class="w-full bg-[#f6f6f6] px-4 placeholder:text-black placeholder:font-semibold py-3 rounded-xl outline-none"
                            />
                            <textarea
                                type="text"
                                placeholder="P E S A N"
                                class="w-full bg-[#f6f6f6] px-4 placeholder:text-black placeholder:font-semibold py-3 rounded-xl max-h-[180px] min-h-[180px] outline-none"
                            ></textarea>
                            <div></div>
                        </div>
                        <div class="w-full flex justify-end">
                            <button
                                class="bg-[#c9d4da] px-6 py-3 font-semibold cursor-pointer rounded-xl"
                            >
                                S U B M I T
                            </button>
                        </div>
                    </div>
                    <div
                        class="bg-[#091336]/70 hidden lg:block relative z-2 w-[500px] p-8 h-[500px] rounded-b-[32px]"
                    >
                        <div class="flex flex-col">
                            <h1 class="text-white font-bold text-4xl font-jost">
                                Daftar SPMB
                            </h1>
                            <h1 class="text-white font-bold text-4xl font-jost">
                                2026/2027
                            </h1>
                        </div>
                        <p class="text-white mt-8">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ullam nemo quasi nihil mollitia corrupti
                            veniam odio fugiat impedit. Porro odit iste
                            accusamus cupiditate beatae illo incidunt quibusdam,
                            ad veniam est tenetur assumenda numquam soluta
                            sapiente autem omnis nobis facilis a sequi iusto
                            fuga culpa eligendi fugit dolorum! Consequuntur,
                            laudantium dignissimos.
                        </p>
                        <p class="text-white font-bold text-3xl mt-6">
                            Hubungi 0856-1617-593
                        </p>
                        <div
                            class="w-full mt-8 flex justify-center items-center"
                        >
                            <button
                                class="bg-[#25d366] font-semibold cursor-pointer px-4 py-3 rounded-xl"
                            >
                                CLICK TO WHATSAPP
                            </button>
                        </div>
                    </div>
                </div>
                <div class="px-4">
                    <div
                        class="bg-[#091336]/70 block lg:hidden relative z-2 w-full p-8 h-fit mt-8 rounded-[32px]"
                    >
                        <div class="flex flex-col">
                            <h1 class="text-white font-bold text-4xl font-jost">
                                Daftar SPMB
                            </h1>
                            <h1 class="text-white font-bold text-4xl font-jost">
                                2026/2027
                            </h1>
                        </div>
                        <p class="text-white mt-8">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ullam nemo quasi nihil mollitia corrupti
                            veniam odio fugiat impedit. Porro odit iste
                            accusamus cupiditate beatae illo incidunt quibusdam,
                            ad veniam est tenetur assumenda numquam soluta
                            sapiente autem omnis nobis facilis a sequi iusto
                            fuga culpa eligendi fugit dolorum! Consequuntur,
                            laudantium dignissimos.
                        </p>
                        <p class="text-white font-bold text-2xl mt-6">
                            Hubungi 0856-1617-593
                        </p>
                        <div
                            class="w-full mt-8 flex justify-center items-center"
                        >
                            <button
                                class="bg-[#25d366] font-semibold cursor-pointer px-4 py-3 rounded-xl"
                            >
                                CLICK TO WHATSAPP
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    class="grid lg:grid-cols-4 w-full px-4 md:px-0 md:justify-items-center md:grid-cols-2 grid-cols-1 mt-8 relative z-2 pb-10 gap-8"
                >
                    <div class="w-[150px]">
                        <h1
                            class="text-xl font-jost font-bold font-jost text-white"
                        >
                            WhatsApp
                        </h1>
                        <p class="mt-5 text-gray-300 font-medium">
                            0856-1617-593
                        </p>
                    </div>
                    <div class="w-[150px]">
                        <h1
                            class="text-xl font-jost font-bold font-jost text-white"
                        >
                            Alamat
                        </h1>
                        <p class="mt-5 text-gray-300 font-medium">
                            Jl. Dara 5 blok dg 6 no 19
                        </p>
                    </div>
                    <div class="w-[150px]">
                        <h1 class="text-xl font-bold font-jost text-white">
                            Email
                        </h1>
                        <p class="mt-5 text-gray-300 font-medium">
                            ikhsanm181209@gmail.com
                        </p>
                    </div>
                    <div class="w-[150px]">
                        <h1 class="text-xl font-bold font-jost text-white">
                            Ikuti Kami
                        </h1>
                        <p class="mt-5 text-gray-300 font-medium">
                            0856-1617-593
                        </p>
                    </div>
                </div>
            </footer>
            <div class="w-full h-12 flex items-center bg-[#171717]">
                <p
                    class="px-20 text-gray-300 text-sm font-jost md:text-left text-center"
                >
                    Copyright &copy; 2026 SMK Letris Indonesia 2. All rights
                    reversed
                </p>
            </div>
        </template>
    </body>
</html>
