<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template>
            <div
                class="lg:min-h-screen h-[60vh] bg-[#091336] relative overflow-x-hidden"
            >
                <div
                    class="relative w-screen h-[60vh] lg:h-screen flex justify-center items-center"
                >
                    <div
                        id="bg2"
                        class="absolute transition-all duration-200 bg-[url('/assets/img/bg2.jpg')] opacity-0 data-[active=true]:opacity-100 bg-cover bg-center w-full lg:h-screen h-[60vh]"
                    ></div>
                    <div
                        id="bg1"
                        class="absolute opacity-0 data-[active=true]:opacity-100 bg-[url('/assets/img/bg.jpg')] bg-cover bg-center w-full lg:h-screen h-[60vh] transition-all duration-200"
                    ></div>
                    <div class="bg-black/40 w-full h-full absolute z-1"></div>
                    <div
                        class="bg-gradient-to-b from-transparent to-[#091336] w-full h-40 absolute z-2 bottom-0"
                    ></div>
                    <div id="teks-animasi"></div>
                </div>
            </div>
        </template>
    </body>
</html>
