<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div
        class="h-fit pb-10 bg-slate-200 block relative overflow-x-hidden overflow-y-hidden"
      >
        <div class="absolute md:block hidden left-15 top-25">
          <img
            class="jurusan-doodle w-20 rotate-12 transition-all duration-200"
            alt=""
          />
        </div>
        <div class="absolute right-15 top-25 md:block hidden">
          <img
            class="w-20 -rotate-12 jurusan-doodle transition-all duration-200"
            alt=""
          />
        </div>
        <div class="absolute right-15 md:bottom-60 bottom-10">
          <img
            class="md:w-20 w-12 -rotate-45 jurusan-doodle transition-all duration-200"
            alt=""
          />
        </div>
        <div class="absolute left-15 md:bottom-60 bottom-10">
          <img
            class="md:w-20 w-12 rotate-6 jurusan-doodle transition-all duration-200"
            alt=""
          />
        </div>
        <div
          class="absolute bottom-1/2 translate-y-1/2 right-1/2 translate-x-1/2 rounded-full size-100 bg-blue-800 blur-[120px] animate-pulse"
        ></div>
        <div
          class="w-fit mx-auto flex items-center md:gap-4 gap-1 justify-center"
        >
          <img
            class="md:w-16 w-12 -rotate-12 jurusan-doodle doodle-transition"
            alt=""
          />
          <h1
            class="pt-12 mb-5 text-center relative z-4 font-jost font-black tracking-tight text-black md:text-4xl text-3xl"
          >
            6 Kosentrasi Keahlian
          </h1>
          <img
            class="md:w-16 w-12 -rotate-12 jurusan-doodle doodle-transition"
            alt=""
          />
        </div>
        <div
          class="relative will-change-transform w-full h-[550px] flex items-center justify-center"
          id="slider-container"
        ></div>
        <div
          id="jurusan-prev"
          class="lg:bg-white bg-transparent size-10 absolute lg:left-1/4 left-[3%] z-99 flex justify-center items-center rounded-full shadow-xl cursor-pointer bottom-1/2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-left-icon lucide-chevron-left"
          >
            <path d="m15 18-6-6 6-6" />
          </svg>
        </div>
        <div
          id="jurusan-next"
          class="lg:bg-white bg-transparent size-10 flex absolute lg:right-1/4 right-[3%] justify-center items-center rounded-full shadow-xl cursor-pointer bottom-1/2 z-99"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class=""
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
        </div>
      </div>
    </template>
  </body>
</html>
