<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div
        class="w-full lg:h-[400px] h-[350px] bg-[url('/assets/img/PHOTO_LANDING/menerima-siswa.webp')] bg-cover bg-center bg-fixed relative overflow-hidden group"
      >
        <div class="absolute bg-black/50 w-full h-full"></div>
        <div
          class="relative w-full h-full flex flex-col justify-center items-center px-4"
        >
          <h1
            class="text-white font-jost mix-blend-difference font-bold text-center md:text-5xl text-3xl"
          >
            Menerima Siswa Baru & Siswa Transfer
          </h1>
          <p
            class="md:text-xl text-lg mt-8 mix-blend-difference text-white font-semibold"
          >
            Tahun Ajaran 2026/2027
          </p>
          <button
            class="px-6 py-2.5 flex items-center justify-center bg-blue-800 rounded-xl text-white mt-5 font-medium cursor-pointer text-lg group/btn"
          >
            <span>Join</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="ml-2 group-hover/btn:translate-x-2 transition-transform duration-300"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </button>
        </div>
      </div>
    </template>
  </body>
</html>
