<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div class="px-12 pb-20">
        <h1
          class="mt-15 font-bold font-jost text-4xl md:text-start text-center"
        >
          News Update
        </h1>
        <div
          class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 justify-items-center gap-4 mt-8"
        >
          <div class="w-[300px] group cursor-pointer">
            <div class="w-full h-[200px] overflow-hidden">
              <img
                src="/assets/img/bg2.jpg"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition-transform duration-300"
                alt=""
              />
            </div>
            <h1 class="mt-4 text-lg font-semibold">
              Geger, seorang pria tidak memainkan hp nya selama sehari.
            </h1>
          </div>
          <div class="w-[300px] group cursor-pointer">
            <div class="w-full h-[200px] overflow-hidden">
              <img
                src="/assets/img/bg.jpg"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition-transform duration-300"
                alt=""
              />
            </div>
            <h1 class="mt-4 text-lg font-semibold">Bahlil gosong</h1>
          </div>
          <div class="w-[300px] group cursor-pointer">
            <div class="w-full h-[200px] overflow-hidden">
              <img
                src="/assets/img/bg3.jpg"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition-transform duration-300"
                alt=""
              />
            </div>
            <h1 class="mt-4 text-lg font-semibold">Besok WFH</h1>
          </div>
          <div class="w-[300px] group cursor-pointer">
            <div class="w-full h-[200px] overflow-hidden">
              <img
                src="/assets/img/pressetta.jpg"
                class="w-full h-full object-cover object-center group-hover:scale-110 transition-transform duration-300"
                alt=""
              />
            </div>
            <h1 class="mt-4 text-lg font-semibold">
              Walaupun sekarang sedang libur, ternyata MBG tetap berjalan.
            </h1>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
