<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div class="h-fit pb-10">
        <h1 class="mt-18 text-center text-4xl font-bold font-jost">
          Partnership
        </h1>
        <div class="relative w-full h-fit">
          <div
            class="flex items-center gap-20 mt-10 px-14 overflow-x-hidden overflow-y-hidden w-full whitespace-nowrap relative"
            id="partnership-wrapper"
          ></div>
          <div
            id="partnership-prev"
            class="absolute left-5 rounded-full top-1/2 -translate-y-1/2 bg-black/50 backdrop-blur-lg size-16 border cursor-pointer border-black/20 flex justify-center items-center hover:scale-105 transition-all duration-300 active:scale-90"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="text-white size-8"
            >
              <path d="m15 18-6-6 6-6" />
            </svg>
          </div>
          <div
            id="partnership-next"
            class="absolute right-5 rounded-full top-1/2 -translate-y-1/2 bg-black/50 backdrop-blur-lg size-16 border cursor-pointer border-black/20 flex justify-center items-center hover:scale-105 transition-all duration-300 active:scale-90"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="size-8 text-white"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
