<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template>
            <div class="min-h-screen bg-[#091336]">
                <h1
                    class="text-center font-jost lg:text-5xl md:text-4xl text-3xl text-white font-bold"
                >
                    Mengapa Harus Sekolah di Sini?
                </h1>
                <div
                    class="grid lg:grid-cols-3 gap-4 grid-cols-1 px-10 mt-10 justify-items-center"
                    id="reasons1-wrapper"
                ></div>
                <div
                    class="grid mt-10 lg:grid-cols-3 gap-4 grid-cols-1 px-10 justify-items-center"
                    id="reasons2-wrapper"
                ></div>
                <div
                    class="grid mt-10 lg:grid-cols-3 gap-4 grid-cols-1 px-10 justify-items-center"
                    id="reasons3-wrapper"
                ></div>
            </div>
        </template>
    </body>
</html>
