<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template>
            <div class="w-[300px] h-fit flex flex-col items-center">
                <div
                    class="size-20 bg-white rounded-lg flex justify-center items-center"
                    data-bind="icon"
                ></div>
                <h1
                    class="mt-3 text-white text-lg font-semibold text-center"
                    data-bind="judul"
                >
                    Gedung Baru
                </h1>
                <p class="text-white text-center mt-3" data-bind="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Earum ab laboriosam velit repudiandae eius?
                </p>
            </div>
        </template>
    </body>
</html>
