<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <template>
            <div
                class="bg-[#091336] h-40 w-full p-4 flex md:flex-row flex-col md:justify-center justify-between gap-4 md:gap-40 items-center"
            >
                <h1
                    class="font-serif text-white lg:text-4xl md:text-3xl text-xl md:w-[70%] w-full"
                >
                    "Membentuk lulusan yang disiplin, adaptif, dan unggul dalam
                    inovasi global."
                </h1>
                <button
                    class="px-6 py-2.5 bg-transparent border border-white text-white hover:bg-white hover:text-black cursor-pointer transition duration-300"
                >
                    Contact Us
                </button>
            </div>
        </template>
    </body>
</html>
