<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div class="bg-slate-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="-mb-1"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#091336"
            fill-opacity="1"
            d="M0,96L34.3,112C68.6,128,137,160,206,170.7C274.3,181,343,171,411,176C480,181,549,203,617,224C685.7,245,754,267,823,256C891.4,245,960,203,1029,181.3C1097.1,160,1166,160,1234,149.3C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
          ></path>
        </svg>
      </div>
      <div
        class="h-fit relative bg-[#091336] flex flex-col justify-center items-center"
      >
        <div
          class="px-4 md:px-10 flex flex-col justify-center items-center relative z-9"
        >
          <div
            class="md:w-[900px] w-full md:h-[530px] h-[350px] bg-slate-200 rounded-lg p-3"
          >
            <div class="w-full h-6 flex justify-center relative">
              <div class="absolute top-0 left-0 flex items-center gap-2">
                <div class="size-4 bg-red-500 rounded-full"></div>
                <div class="size-4 bg-yellow-500 rounded-full"></div>
                <div class="size-4 bg-green-500 rounded-full"></div>
              </div>
              <div
                class="w-[50%] bg-white rounded-lg h-full flex justify-start p-2 items-center"
              >
                <p class="text-gray-500 text-sm font-semibold">
                  https://letris.dvl.to
                </p>
              </div>
            </div>
            <div class="w-full lg:h-[400px] md:h-[350px] h-[200px] mt-4">
              <img
                src="/assets/img/spmb.jpeg"
                class="w-full h-full object-scale-down"
                alt=""
              />
            </div>
            <div class="h-[55px] w-full flex justify-center items-center gap-2">
              <div class="size-[14px] bg-gray-500 rounded-full"></div>
              <div class="size-[14px] bg-gray-500/50 rounded-full"></div>
              <div class="size-[14px] bg-gray-500/50 rounded-full"></div>
            </div>
          </div>
          <div class="bg-[#282a35] w-16 h-24 mx-auto"></div>
          <div
            class="lg:w-[400px] w-full rounded-2xl h-15 bg-[#282a35] hover:bg-blue-800 cursor-pointer transition duration-300 mx-auto flex justify-center items-center -mt-1"
          >
            <h1 class="text-center text-white font-bold text-2xl">SPMB</h1>
          </div>
        </div>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="rotate-180 lg:-mt-20 -mt-5"
        viewBox="0 0 1440 320"
      >
        <path
          fill="#091336"
          fill-opacity="1"
          d="M0,128L48,117.3C96,107,192,85,288,69.3C384,53,480,43,576,58.7C672,75,768,117,864,117.3C960,117,1056,75,1152,53.3C1248,32,1344,32,1392,32L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </template>
  </body>
</html>
