<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <template>
      <div
        class="w-[250px] h-[300px] relative border group border-gray-900 overflow-hidden"
      >
        <img
          src="/assets/img/apis.jpg"
          class="size-full object-cover object-center group-hover:scale-110 transition duration-300"
          alt=""
        />
        <div class="absolute bottom-3 left-3">
          <h1 class="uppercase font-black text-xl tracking-tight text-white">
            Apis
          </h1>
          <p class="text-blue-500 italic font-bold tracking-tight">Guru IT</p>
        </div>
      </div>
    </template>
  </body>
</html>
